@import url('https://fonts.googleapis.com/css?family=Poppins');

/* BASIC */

html {
  background-color: #4041a7be;
}

body {
  font-family: "Poppins", Helvetica;
  height: 100h;
}

.heading {
  text-align: center;
  -ms-flex-align: center;
  font-size: large;
  font-family: "Poppins", sans-serif;
  margin: 40px 8px 10px 8px;
  color: black;
  text-shadow:black;
  text-transform: uppercase;
}

.grids {
  align-items: center;
  margin: 140px;
}

.problemGrid {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  background-color: #060606;
  padding: 5px;
  column-gap: 2px;
  row-gap: 2px;
  width: fit-content;
}

.box {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

