@import url('https://fonts.googleapis.com/css?family=Poppins');

/* BASIC */

html {
  background-color: #4041a7be;
}

body {
  font-family: "Poppins", Helvetica;
  height: 100h;
}

.heading {
  text-align: center;
  -ms-flex-align: center;
  font-size: large;
  font-family: "Poppins", sans-serif;
  margin: 40px 8px 10px 8px;
  color: black;
  text-shadow:black;
  text-transform: uppercase;
}

.grids {
  align-items: center;
  padding: 100px;
}

.problemGrid {
  float: left;
  display: grid;
  grid-template-columns: 180px 180px 180px;
  grid-template-rows: 180px 180px 180px;
  background-color: #060606;
  padding: 5px;
  column-gap: 2px;
  row-gap: 2px;
  width: fit-content;  
  margin-left: 70px;
}

.img {
  width: 200px;
  height: 200px;
}

.answerGrid {
  float: right;
  display: grid;
  grid-template-columns: 180px 180px 180px;
  grid-template-rows: 180px 180px 180px;
  background-color: #060606;
  padding: 5px;
  column-gap: 2px;
  row-gap: 2px;
  width: fit-content;
  margin-right: 90px;
}

.box {
  background-color: rgba(255, 255, 255, 0.959);
  display: grid;
  grid-template-columns: 60px 60px 60px;
  grid-template-rows: 60px 60px 60px;
  width: fit-content;  
}


input {
  text-align: center;
  font-size: larger;
}